<%= form_for(@administrator) do |f| %>
  <% if @administrator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administrator.errors.count, "error") %> prohibited this administrator from being saved:</h2>

      <ul>
      <% @administrator.errors.messages.each do |key, message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :correo %><br>
    <%= f.email_field :correo %>
  </div>
  <div class="field">
    <%= f.label :contraseña %><br>
    <%= f.password_field :contrasena %>
  </div>
  <div class="field">
    <%= f.label :confirmación_contraseña %><br>
    <%= f.password_field :contrasena_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit 'Crear cuenta' %>
  </div>
<% end %>
