<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @administrator.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @administrator.apellido %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @administrator.correo %>
</p>

<p>
  <strong>Contrasena:</strong>
  <%= @administrator.contrasena %>
</p>
<%= link_to 'Inicio', '/home' %>
