<h1>Log In</h1>
<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, class: "alert alert-"+name %>
<% end %>
<p><%= form_for(:session, url: login_path) do |f| %>
	<div class="field">
		<%=f.label :correo %><br>
		<%=f.email_field :correo%>
	</div>
	<div = class="field">
		<%=f.label :contrasena %><br>
		<%=f.password_field :contrasena%>
	</div>
	<div = class="field">
		<%= f.submit "Log In" %>
	</div>
	<% end %>
</p>
