<%= form_tag('/videos/', multipart: "true") %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :nombre_del_video %><br>
    <%= text_field_tag :nombre %>
  </div>
  <div class="field">
    <%= label_tag :descripcion %><br>
    <%= text_area_tag :descripcion %>
  </div>
  <div class="field">
    <%= label_tag :nombre %><br>
    <%= text_field_tag :nombre_usuario %>
  </div>
  <div class="field">
    <%= label_tag :apellido %><br>
    <%= text_field_tag :apellido_usuario %>
  </div>
  <div class="field">
    <%= label_tag :correo %><br>
    <%= email_field_tag :correo_usuario %>
  </div>
  <div class="field">
    <%= label_tag :contest_id %><br>
    <%= text_field_tag :contest_id, nil%>#, :readonly => true%>
  </div>
  <div class="field">
    <%= label_tag :archivo %><br>
    <%= file_field_tag :archivo, :accept => 'video/*', :required => true %>
  </div>
  <div class="field">
    <%= submit_tag %>
  </div>
