<p id="notice"><%= notice %></p>

<h1>Lista de videos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fechacreacion</th>
      <th>Urloriginal</th>
      <th>Urlconvertido</th>
      <th>Estado</th>
      <th>Descripcion</th>
      <th>Contest</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= will_paginate @videos %>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.nombre %></td>
        <td><%= video.fechacreacion %></td>
        <td><%= video.urloriginal %></td>
        <td><%= video.urlconvertido %></td>
        <td><%= video.estado %></td>
        <td><%= video.descripcion %></td>
        <td><%= video.contest %></td>
        <td><%= video.user %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
