<p id="notice"><%= notice %></p>

<%= image_tag @banner %>
<h1> <%= @contest.nombre %></h1>
<h3><p> <%= @contest.descripcion %> </p></h3>
<p> Premio: <strong> <%= @contest.descripcion %> </strong> </p>
<h1>Lista de videos</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <% if current_user && @contest.administrator_id == @current_user.id %>
        <th>Fecha creacion</th>
      <% end %>
      <!--<th>Urloriginal</th>-->
      <!--<th>Urlconvertido</th>-->
      <% if current_user && @contest.administrator_id == @current_user.id %>
      <th>Estado</th>
      <% end %>
      <th>Descripcion</th>
      <!--<th>Contest</th>-->
      <th>Subido por</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <%= will_paginate @videos %>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.nombre %></td>
        <% if current_user && @contest.administrator_id == @current_user.id %>
        <td><%= video.fechacreacion %></td>
        <% end %>
        <!--<td><%= video.urloriginal %></td>-->
        <!--<td><%= video.urlconvertido %></td>-->
        <% if current_user && @contest.administrator_id == @current_user.id %>
        <td><%= video.estado %></td>
        <% end %>
        <td><%= video.descripcion %></td>
        <!--<td><%= video.contest %></td>-->
        <td><%= video.user.nombre + " " + video.user.apellido %></td>
        <td><%= link_to 'Ver video', video %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Subir Video', ('/videos/new/' + @contest.id.to_s) %>

