<p id="notice"><%= notice %></p>

<h1><%= @video.nombre %></h1>
<h3><p>
  <%= @video.descripcion %>
</p></h3>

<p>
  <strong>Fecha de Creación</strong>
  <%= @video.fechacreacion %>
</p>

<p>
  <strong>Pertenece al concurso:</strong>
  <%= @video.contest.nombre %>
</p>

<p>
  <strong>Subido por:</strong>
  <%= @video.user.nombre + " " + @video.user.apellido %>
</p>
<% if current_user && @contest.administrator_id == current_user.id %>
<p>
  <strong>Video original:</strong>
  <br/>
  <video width="720" height="480" controls>
    <source src="<%= @video.urloriginal %>">
    </video>
  </p>

  <br/><br/><br/>
  <% end %>
  <p>
    <strong>Video:</strong>
    <br/>
    <% if @video.urlconvertido %>
    <video width="720" height="480" controls>
      <source src="<%= @video.urlconvertido %>">
      </video>
    <% else %>
      ¡Proximamente!
    <% end %>
    </p>

    <%= link_to 'Volver', @url_concurso %>
    <%= debug @video %>

