<%= form_for(@contest) do |f| %>
  <% if @contest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>

      <ul>
      <% @contest.errors.messages.each do |key, message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :banner %><br>
    <%= f.file_field :banner, :required => true  %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <input type"text" value="<%='http://' + request.host + ':' + (request.port.to_s) +'/contests/join/'%>" disabled="true"/>&nbsp;
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :premio %><br>
    <%= f.text_area :premio %>
  </div>
  <div class="field">
    <%= f.label :fechainicio %><br>
    <%= f.date_select :fechainicio %>
  </div>
  <div class="field">
    <%= f.label :fechafin %><br>
    <%= f.date_select :fechafin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>