<%= form_for(@contest) do |f| %>
  <% if @contest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>

      <ul>
      <% @contest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :banner %><br>
    <%= f.file_field :banner %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :premio %><br>
    <%= f.text_field :premio %>
  </div>
  <div class="field">
    <%= f.label :fechainicio %><br>
    <%= f.datetime_select :fechainicio %>
  </div>
  <div class="field">
    <%= f.label :fechafin %><br>
    <%= f.datetime_select :fechafin %>
  </div>
  <div class="field">
    <%= f.label :administrator_id %><br>
    <%= f.text_field :administrator_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
