<p id="notice"><%= notice %></p>

<h1>Lista de concursos</h1>

<% if @contests %>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Banner</th>
      <th>Url</th>
      <th>Descripcion</th>
      <th>Premio</th>
      <th>Fechainicio</th>
      <th>Fechafin</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <%= will_paginate @contests %>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= contest.nombre %></td>
        <td><img src="<%= contest.banner %>" width=100 height=50/></td>
        <td><a href="<%= contest.url %>"><%= contest.url %></a></td>
        <td><%= contest.descripcion %></td>
        <td><%= contest.premio %></td>
        <td><%= contest.fechainicio %></td>
        <td><%= contest.fechafin %></td>
        <td><%= link_to 'Mostrar', contest %></td>
        <td><%= link_to 'Editar', edit_contest_path(contest) %></td>
        <td><%= link_to 'Borrar', contest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if !@contests %>
  <p> ¡No hay concursos registrados! </p>
<% end %>

<br>

<%= link_to 'Crear concurso', new_contest_path %>
